<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">To do app!</h1>

    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem" ng-keypress="enterAddItem($event)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div>
        <!-- /input-group -->

        <!-- Displays the total number of tasks -->
        <h4>Items in Todo List:  {{totalNumber}}</h4>

      <h2>Stuff I gotta do
        <!-- This is the button that will delete all items-->
        <button class="btn btn-danger" type="button" ng-click="deleteCompletedItems()"> Delete Completed Items
          <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
        </button>
      </h2>

      <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="dos in todos | orderBy:sortByPriority">

          <input type="text" class="display-{{dos.edit}}" placeholder="Edit this item" ng-model="dos.text" ng-keydown="keyEnter($event,dos)">
          <span ng-class="{'done-true': dos.done}">{{dos.text}}</span>

          <!-- Delete button -->
          <button class="btn btn-danger pull-right btnMargin" type="button" ng-click="deleteItem(dos)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>
          <!-- Edit button -->
          <button class="btn btn-warning pull-right btnMargin" type="button" ng-click="editItem(dos)">
            <span class="glyphicon glyphicon-edit " aria-hidden="true"></span>
          </button>
          <!-- Complete item button -->
          <button class="btn btn-success pull-right btnMargin" type="button" ng-click="completeItem(dos)">
            <span class="glyphicon glyphicon-ok " aria-hidden="true"></span>
          </button>
          <!-- Priority dropdown menu (KC) Fix by: GZ -->
          <select class="pull-right" ng-model="dos.priority">
            <option value="Now">Priority: Now</option>
            <option value="Tomorrow">Priority: Tomorrow</option>
            <option value="Someday">Priority: Someday</option>
          </select>

        </li>
      </ul>
    </div>

  </body>

</html>
