/* Styles go here */
body {
  /* Task 1 */
  background-color: #CCE0EC;
}
.display-false {
	display: none;
}
.btnMargin {
	margin-left: 5px;
}
.done-true{
	text-decoration: line-through;
	color: red;
}
